# Docs https://www.pjsip.org/pjsua.htm

--null-audio  
--local-port=5061 #Without this set, PJSUA will not use the TLS transport
--id=sip:b2bua_external@192.168.254.100 #Set the From Header
--outbound sip:192.168.254.2:5061;lr;transport=tls #Change the transport to TLS

# TLS Settings 
--use-tls  
--tls-cert-file /config/self_signed_certificate.pem 
--tls-privkey-file /config/private_key.pem

# Make it easier to make an outbound call to the Proxy
--add-buddy=sip:123@172.16.254.101
--add-buddy=sip:456@172.16.254.100

# Register to the Proxy 
--registrar=sip:192.168.254.2:5061
--username=b2bua_external   #Set authentication username
--password=password1        #Set authentication password
--realm=192.168.254.100     #Set authentication realm



